/*
* font showcase with zoom and pan
* copyright 2019 tanakazuhiko
* powered by d3.js
*/
body {
    background-color: #36464D;
    overflow: hidden;
}

g.tick line {
    stroke: #c5bfbf;
    stroke-width: 0.5;
}

g.tick text {
    opacity: 0;
    cursor: default;
}

.svg {
    position: absolute;
    top: 0;
    left: 47px;
    background-color: #FFFFFF;
}

path.domain {
    stroke: white;
}

.type {
    font-style: "Arial";
    font-size: 60pt;
    fill: #2047c2;
    text-anchor: end;
}

.g_family {
    display: flex;
    flex-wrap: wrap;
}

.family {
    font-size: 32pt;
    fill: #413939;
    text-anchor: end;
    cursor: pointer;
}

.sample {
    font-size: 32pt;
    fill: #222;
    cursor: pointer;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* tab */
.tab-wrap {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 2;
}

.tab-label {
    width: 32px;
    color: #868383;
    background: LightGray;
    font-family: "Consolas", "Courier New", "Courier", "Monaco", "monospace", "ＭＳ ゴシック", "MS Gothic", "Osaka−等幅";
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-align: left;
    margin: 2px -1px 0px 1px;
    padding: 4px 4px 4px 4px;
    order: -1;
    position: relative;
    cursor: pointer;
    float: left;
    border-left: 6px solid #80929B;
    z-index: 2;
}

.tab-label:hover {
    background: #edebeb;    
}

.tab-label span {
    position: absolute;
    right: 2px;
    top: 7px;
    font-size: 6px;
    font-weight: 100;
    color: #36464D;
}

.tab-content {
    display: none;
}

.tab-switch:checked+.tab-label {
    color: black;
    background: #FFFFFF;
    border-left: 6px solid #4FC1CE;
}

.tab-switch:checked+.tab-label span {
    color: black;
}

.tab-switch:checked+.tab-label+.tab-content {
    width: calc(100% - 150px);
    height: 100%;
    padding: 15px;
    border-left: 1px solid Gray;
    display: block;
}

.tab-switch {
    display: none;
}

#fade_layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    visibility: hidden;
    z-index: 1;
    transition: all 0.3s;
}

#msg {
    position: absolute;
    visibility: hidden;
    top: 50px;
    left: 12%;
    width: 76%;
    background-color: #eae9ea;
    color: darkslategrey;
    opacity: 1;
    transition: all 0.2s;
    z-index: 9;
    padding: 30px 20px 40px 20px;
    line-height: 0.84;
    word-wrap: break-word;
    cursor: default;
    font-size: 40px;
}

#msg div {
    font-size: 40px;
    width: 100%;
    border-bottom: solid 1px darkslategrey;
    line-height: 0.5;
    padding-bottom: 8px;
}

#msg span {
    font-size: 34px;
    margin-bottom: 10px;
}

#msg span.head {
    font-size: 16px;
    margin-bottom: 10px;
}

#msg span.small {
    font-size: 14px;
    line-height: 0.2;
}

#msg span br{
    line-height: initial;
}

#msg div.src {
    font-size: 14px;
    line-height: 1.4;
    padding: 12px 10px;
    border: none;
    background: #2F3437;
    color: antiquewhite;
    width: 90%;
    margin-top: 10px;
}

#msg .small {
    font-weight: 100;
}

#msg .normal {
    font-weight: 400;
}

#msg .bold {
    font-weight: 900;
}

#msg .italic {
    font-style: italic;
}

.help {
    font-size: 24px;
}
